MonitorSistema.aux
MonitorSistema.bcf
MonitorSistema.fdb_latexmk
MonitorSistema.fls
MonitorSistema.log
MonitorSistema.out
MonitorSistema.run.xml
MonitorSistema.synctex.gz
MonitorSistema.tex~
MonitorSistema.toc